body {
	font: Verdana;
	background-color: #EFEEEA !important;
	margin: 0;
}

.jumbotron {
	background-color: #EFEEEA !important;
}

.isHidden {
	display: none;
}

.isRed {
	color: red !important;
}

.isGreen {
	color: green !important;
}